@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}

body {
    height: 100vh;
}

.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 2px 0;
}

.leftn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


.rightn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero {
    height: 60vh;
    background-image: url("./Site Scultputre images/Banner image.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .content {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.hero .search {
    margin-top: 10px;
    width: 40vw;
    height: 50px;
    background-color: #fff;
    border-radius: 1px;
}

.hero .search p {
    width: 100%;
    height: 50px;
    display: inline-flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.hero .search p input {
    width: 90%;
    height: 40px;
    outline: none;
    border: none;
}

.hero .search p input::placeholder {
    color: rgba(0, 0, 0, 0.397);
}

.hero .search p span {
    color: #158ce1;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    font-size: 1.5em;
    margin: 1em;
}

h2 p {
    font-size: 0.5em;
    font-weight: 300;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 10px 10px white;
}

.card .card-title {
    font-size: 20px;
}

.card .card-content {
    margin: 20px 0;
    max-width: 85%;
}

.card .card-link-wrapper {
    margin-top: auto;
}



.card:hover .card-link {
    background: var(--darkorange);
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: #158ce1;
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(25% - 30px);
        grid-column-gap: 40px;
    }
}